<html>
	<head>
		
	</head>
	<body>
		<div class="navbaralt">
			<div class="panelalt" id="grayalt"><div class="logo"><span class="brand">VIDAL</span></div></div><!-- --><div class="panelalt" id="tanalt"></div><!-- --><div class="panelalt" id="redalt"><div class="linksalt"><a href="/home/home">Home Page</a></div></div>
		</div>
	</body>
</html>