<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
		<script type="text/javascript" src="flip.js"></script>
	</head>
	<body>

		<div class="navbar">
			<div class="logo">
				<span class="brand">VIDAL</span>
			</div>
			<div class="tagline">
				<span class="catch"><i>Your tagline here.</i></span>
			</div>
			<div class="link-con">
				<span class="links">Home</span>
				<span class="links">About</span>
				<span class="links">Contact</span>
				<a href="/home/alternate" class="links">Alternate Home Page</a>
			</div>
		</div>


		<div class="panel" id="gray"></div><!-- --><div class="panel" id="tan"></div><!-- --><div class="panel" id="red"></div>
		
		<div class="hero">
			<div class="centering">
				<h1 class="text-center lighter gold">Your content here.</h1>
				<h3 class="text-center lighter gold">This is a spot to put some text, images, links, or videos.</h3>
			</div>
		</div>
		
		<div class="product-group-group">
		<div class="product-group five">
			<div class="product">
				<div class="image">
					<span>(Image)</span>
					<br>
					<span class="small"><i>Click Here</i></span>
				</div>
			</div>
			<div class="description-con">
				<span class="description">
					This is a spot to put a description of the product.
				</span>
			</div>
		</div>

		<div class="product-group five">
			<div class="product">
				<div class="image">
					<span>(Image)</span>
					<br>
					<span class="small"><i>Click Here</i></span>
				</div>
			</div>
			<div class="description-con">
				<span class="description">
					This is a spot to put a description of the product.
				</span>
			</div>
		</div>

		<div class="product-group">
			<div class="product">
				<div class="image">
					<span>(Image)</span>
					<br>
					<span class="small"><i>Click Here</i></span>
				</div>
			</div>
			<div class="description-con">
				<span class="description">
					This is a spot to put a description of the product.
				</span>
			</div>
		</div>
		</div>


	</body>
</html>